.navListItem {
    list-style: none;
    float: left;
}

.navItem {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align:center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}
.navItem:hover {
    background-color: #0080ff;
    color: white;
}